body {
  background-color: #9a9a9a;
  font-family: "Times New Roman";
}
h1, h2 {
  text-align: center;
}

form {
  text-align: center;
}

#addBtn {
  background-color: #1ed735;
  border: none;
  margin: 10px 5px;
  padding: 15px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #16ac29;
}

#submit {
  background-color: #1ed735;
  border: none;
  margin: 10px 5px;
  padding: 15px;
  cursor: pointer;
}

#submit:hover {
  background-color: #16ac29;
}

input.delBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

input.delBtn:hover {
  background-color: #dee2de;
}

input.item {
  margin-right: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
}

#sketch {
  display: none;
  text-align: center;
  margin: 10px;
}

p.outro {
  display: none;
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 20px;
}
