body {
  background-color: #9a9a9a;
  font-style: "Times New Roman";
}
h1, h2 {
  text-align: center;
}

form {
  font-style: "Times New Roman";
  text-align: center;
}

#addBtn {
  background-color: #1ed735;
  border: none;
  margin: 10px;
  padding: 16px;
  cursor: pointer;
}

#addBtn:hover {
  background-color: #16ac29;
}

input.delBtn {
  background-color: white;
  border: none;
  cursor: pointer;
}

input.delBtn:hover {
  background-color: #dee2de;
}
input.item {
  margin-right: 3px;
  padding: 5px;
}

input:focus {
  outline: none;
}
